.headline {
text-align: center;
}

#divIntroBox {
    display: flex;
    flex-direction: column; /* Um den Inhalt vertikal zu zentrieren */
    align-items: center; /* Horizontal zentrieren */
    justify-content: center; /* Vertikal zentrieren */
    height: 100vh; /* Die volle Bildschirmhöhe nutzen */
}

#buttons{
    display: flex;
    justify-content: space-between;
}

#continueButton{
    display: flex;
    text-align: center;
    padding: 5% 10%;
}
